<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col-md-9">
      <%= render @books %>
    </div>
  </div>
  <p>
    <h4><%= link_to 'Back', books_path %></h4>
  </p>
</div>
