<div class="container" style="margin-top: 80px;">
  
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  
  <div class="row">
    <div class="col-md-9">
      <%= render @books %>
    </div>
    <div class="col-md-3">
      <div class="row">
        <strong>
          SHOP BY CATEGORIES
        </strong>
      </div>
      <% @categories.each do |category| %>
        <div class="row">
          <h4><%= link_to "#{category.title}", category %></h4>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= paginate @books %>
  </div>
</div>
