<div class="container" style="margin-top: 50px;">
  
  <div class="row">
    
    <div class="col-md-9">

      <div class="row">
        <% if @category %>
          <%= "Categories - #{@category.title}" %>
        <% else %>
          <strong>
            <h2>Shop</h2>
          </strong>
        <% end %>
      </div>
      <div class="row"></div>
      <% (@books.count / 3).times do |row| %>
        <div class="row">
          <% 3.times do |col| %>
            <%= render 'show_book', books: @books, row: row, col: col %>
          <% end %>
        </div>
      <% end %>
      <% rest = @books.count % 3 %>
      <% if rest > 0 %>
        <div class="row">
          <% row = @books.count / 3 %>
          <% rest.times do |col| %>
            <%= render 'show_book', books: @books, row: row, col: col %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <div class="row">
        <strong>
          Shop By Categories
        </strong>
      </div>
      <% @categories.each do |category| %>
        <div class="row">
          <%= link_to "#{category.title}", category %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3 paginator">
      paginator
    </div>
  </div>
</div>
